*{
  margin:0;
  padding:0;
}
.comments{
  display: block;
  width:1000px;
  height:90px;
  border:1px solid #ccc;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  box-shadow:0 0 10px #ccc;
  overflow: hidden;
}
.commentsItem{
  display:inline-block;
  width:320px;
  height:80px;
  float:left;
  margin-top:-80px;
  margin-left:5px;
  border-bottom:1px solid #ccc;
}
.commentsItem > img{
  display: inline-block;
  width:80px;
  height:80px;
  float:left;
}
.commentsItem > p{
  display:inline-block;
  width:240px;
  height:80px;
  padding-left:3px;
  box-sizing:border-box;
  float:left;
}
